* {
  box-sizing: border-box;
  scrollbar-width: none;
}
body {
  background-color: hsl(0, 0%, 5%);
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  width: 100%;
  color: white;
  font-family: "Google Sans Flex", sans-serif;
}
ul {
  list-style: none;
}
svg {
  width: 30px;
  color: hsl(11, 90%, 95%);
}

.app-container {
  margin: 0 auto;
  padding: 80px 16px;

  width: 100%;
  height: 100%;
  max-width: 700px;
  scrollbar-width: none;
}
header {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: fixed;
  inset: 0 0 auto 0;
  background-color: hsl(0, 0%, 5%);
}
.logo-text {
  font-size: 24px;
  color: hsl(11, 90%, 55%);
  line-height: 0.1;
}
.highlighted-logo-text {
  color: hsl(11, 100%, 95%);
}
.task-done-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 30px 15px;
  border-radius: 16px;
  background: linear-gradient(
    300deg,
    hsl(11, 100%, 70%) 30%,
    hsl(11, 100%, 40%)
  );
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.8),
    0 6px 14px rgba(0, 0, 0, 0.2);
  margin-top: 24px;
  margin-bottom: 40px;
}
.task-done-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.task-done-text-container {
  flex: 1;
}
.task-done-text-container h2 {
  font-size: 20px;
  margin-bottom: 4px;
  color: hsl(11, 90%, 95%);
  line-height: 0;
}
.task-done-text-container p {
  line-height: 1.3;
  font-size: 14px;
  color: hsl(11, 60, 95%);
}
.task-completed-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: hsl(0, 0%, 5%);
  font-weight: bold;
}
.progress {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 5px 0;
  background: hsl(11, 100%, 30%);
  border-radius: 32px;
}
.progress-bar {
  position: absolute;
  z-index: 2;
  height: 100%;
  border-radius: 32px;
  background-color: hsl(11, 100%, 95%);
}
.nav-container {
  width: 100%;
  display: flex;
  padding: 2px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.nav-list {
  padding: 10px 15px;
  border-radius: 24px;
  margin-right: 5px;
  width: 30%;
  text-align: center;
  font-size: 12px;
  transition: all 0.5s ease;
  font-weight: bold;
  background: hsl(0, 0%, 10%);
  border: none;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.2),
    0 2px 6px rgba(0, 0, 0, 0.6);
  color: hsl(11, 90%, 95%);
  cursor: pointer;
}
.active {
  background: hsl(11, 90%, 55%);
  color: hsl(0, 0%, 5%);
  border: none;
}
.task-item-container {
  margin-top: 24px;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
  padding: 15px;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}
.task-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  background: hsl(0, 0%, 10%);
  color: hsl(11, 90%, 95%);
  font-weight: 200;
  border: 1px solid hsl(11, 40%, 80%);
  border-radius: 10px;
  margin-bottom: 16px;
  cursor: pointer;
}
.task-item-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-item-edit-input {
  background: transparent;
  color: white;
  width: 100%;
  padding: 6px 8px;
  height: 30px;
  min-height: 80%;
  resize: none;
  border: none;
  outline: none;
}

.task-item-checkbox {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  background: transparent;
  border: 1px solid hsl(11, 90%, 55%);
  border-radius: 50%;
}
.task-item-checkbox:checked {
  background: lime;
  border: none;
}
.task-item-btn-container {
  display: flex;
}
.task-item button {
  background: transparent;
  border: none;
  width: max-content;
  cursor: pointer;
}
.task-item button svg {
  stroke-width: 1;
  width: 20px;
}
.task-text-box {
  position: fixed;
  bottom: 0;
  max-width: 700px;
  width: 100%;
  display: flex;
  left: 50%;
  background-color: hsl(0, 0%, 5%);
  transform: translateX(-50%);
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
}
.task-input {
  background: hsl(0, 0%, 10%);
  padding: 12px;
  width: 80%;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  outline: none;
  color: hsl(11, 100%, 100%);
}
.task-add-btn {
  background: hsl(11, 90%, 55%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  border: none;
  cursor: pointer;
}
.task-add-btn svg {
  color: hsl(0, 0%, 5%);
  font-weight: bold;
}
.no-tasks-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.no-tasks-found h2 {
  font-size: 24px;
  color: hsla(11, 100%, 95%, 0.8);

  line-height: 0.4;
}
.no-tasks-found svg {
  width: 50px;
}
@media (min-width: 750px) {
  .task-input {
    padding: 14px;
  }
}
@media (min-width: 1024px) {
  .nav-container {
    gap: 16px;
  }
  .nav-list {
    width: 20%;
  }
  .task-input {
    padding: 16px;
  }
}
